rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura para que el servidor de Express (Node/Vite) funcione de manera transparente como proxy seguro
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
